<h1>Welcome to Wikiful</h1>
<br>
<h4>Here are some recent articles</h4>

<table class="table table-hover">
<tr>
	<th>Title</th>
	<th>Publication Date</th>
	<th>Posted Under</th>
	<th>Preview</th>
</tr>
<tr>
<% @recentart.each do |recentart| %>
	<td><%= link_to recentart.title.truncate(40), recentart %></td>
	<td><%= recentart.created_at.strftime('%b %d, %Y') %></td>
	<td><% recentart.categories.each do |category| %>
		<%= link_to category.category_name, category %>
		<% end %></td>
	<td><%= recentart.content.truncate(50) %></td>
</tr>
<% end %>
</table>