<h1>Articles Posted Under <%= @category.category_name %></h1>
	<table>
		<tr>
			<th><b>Title</b></th>
			<th><b>Date Created</b></th>
			<th><b>Article Preview</b></th>
		</tr>
	<% @category.articles.each do |article| %>
		<tr>
			<td><%= link_to article.title.truncate(25), article %></td>
			<td><%= article.created_at.strftime('%b %d, %Y') %></td>
			<td><%= truncate(article.content, length:100) %></td>
		</tr>
	<% end %>
	</table>